<include file="Public/header" />

<div id="page-wrapper">
	<div class="row">
        <div class="col-md-12">
            <h1 class="page-header">订单编辑</h1>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div id="order-edit-form">
				<script type="text/javascript" src="/Public/node_modules/react/dist/react.js"></script>
				<script type="text/javascript" src="/Public/node_modules/react-dom/dist/react-dom.js"></script>
				<script type="text/javascript" src="/Public/lib/order.edit.js"></script>
			</div>
			<!--
			<div class="panel panel-default">
				<div class="panel-heading">订单编辑表单</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group">
	    							<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								    <div class="col-sm-10">
								      	<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
								    </div>
							</form>
						</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>

<include file="Public/footer" />